body {
    font-family: Arial, sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 450px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

.title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
}

.upload-box {
    padding: 40px;
    border: 2px dashed #aaa;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.upload-box p {
    font-size: 16px;
    margin-bottom: 10px;
}

input#textInput {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 14px;
    background: #0084ff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #006add;
}

#loading {
    margin-top: 20px;
    font-size: 18px;
    color: #444;
}

#downloadZip {
    display: inline-block;
    margin-top: 20px;
    background: #28a745;
    padding: 12px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

.hidden {
    display: none;
}
